/* CSS cho trang web */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: #FFF;
}

h1 {
    text-align: center;
}
p.tieude {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #FF0000;
    margin: 0;
    padding: 10px;
}

div.live {
    text-align: center;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: #f2f2f2;
}

th:first-child {
    width: 150px;
}

.product-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    transition: transform 0.3s;
    margin: 1px; /* Thêm khoảng cách giữa các hình ảnh */
}

.product-image:hover {
    transform: scale(3);
    z-index: 1;
}

/* CSS cho div form */
#dataForm {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

#dataForm label {
    display: block;
    margin-bottom: 10px;
}

#dataForm select,
#dataForm input[type="text"],
#dataForm input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#dataForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#dataForm button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Thêm CSS để căn giữa nút "Thêm dữ liệu" */
.center-button {
    text-align: center;
}

.center-button button {
    margin-top: 10px;
}

#clearDataButton {
    background-color: #e74c3c; /* Màu đỏ */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px; /* Khoảng cách với nút "Thêm dữ liệu" */
    cursor: pointer;
}

#clearDataButton:hover {
    background-color: #c0392b; /* Màu đỏ khi hover */
}
