body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: #FFFFCC;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

th:first-child {
    width: 50px; /* Độ rộng mới cho cột "Thứ tự" */
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
    max-height: 100px;
}

img:hover{
    transform: scale(5);
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

button.delete {
    background-color: #00f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.increment, button.decrement {
    display: none;
}
